body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin: 0 auto; /* Center the canvas horizontally */
  display: block;
  z-index: -1;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-container {
  display: flex;
  align-items: center;
}

.join-room-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some top margin for spacing */
}

input[type="text"] {
  width: 100%;
  background-color: #333; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding around the input */
  border: 2px solid #666; /* Border style */
  border-radius: 5px; /* Rounded corners */
  font-size: 20px; /* Font size */
}

input[type="text"]::placeholder {
  color: #999; /* Placeholder text color */
}

#join-room {
  margin-left: 10px;
}

form {
  display: inline;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: 2px solid #666;
  border-radius: 20px; /* Increase border-radius for a more curved look */
  font-size: 24px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.5);
}

button:hover {
  background-color: #555;
}

form + form {
  margin-left: 20px;
}
