html {
  font-family: 'Space Mono', monospace !important;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin: 0 auto; 
  display: block;
  z-index: -1;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-container {
  display: flex;
  align-items: center;
}

.join-room-container {
  display: flex;
  align-items: center;
  margin-top: 10px; 
}

input[type="text"] {
  width: 100%;
  background-color: #333; 
  color: white; 
  padding: 10px;
  border: 2px solid #666; 
  border-radius: 5px; 
  font-size: 20px; 
}

input[type="text"]::placeholder {
  color: #999; 
  font-family: 'Space mono', monospace;
}

#join-room {
  margin-left: 10px;
}

form {
  display: inline;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: 2px solid #666;
  border-radius: 20px; 
  font-size: 24px;
  font-family: 'Space Mono', monospace !important;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.5);
}

button:hover {
  background-color: #555;
}

form + form {
  margin-left: 20px;
}
