html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#score {
  color: white;
  margin-bottom: 20px;
  font-size: 99px;
}

#instructions {
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  width: 100%; /* Set a fixed width for alignment */
}

.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: 2px solid #666;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
}

.text {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.arrow {
  font-size: 36px;
}
#players {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.player-label {
  color: white;
  font-size: 18px;
}
